* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: white;
    color: black;
}

.nav-container {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid black;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container h2 {
    display: flex;
    align-items: center;
}

.icons {
    height: 20px;
    width: 20px;
}

.intro-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.intro-img img {
    height: 500px;
    margin-right: 20px;
}

.intro-text h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
    margin-bottom: 10px;
}

.intro-text button {
    padding: 5px 50px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.intro-text button:hover {
    border-radius: 10px;
}

/* .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
} */

.work-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.work-container p {
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.skill {
    font-size: 14px;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
}

@media only screen and (max-width: 480px) {
    .intro-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 25px 0 25px;
    }
    .work-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 100px 25px 0 25px;
    }
}
